{% extends 'tarefas/base.html' %}

{% block content %}
    <div class="alert alert-success text-center">
        <h4 class="alert-heading">Sucesso!</h4>
        <p>A demanda foi cadastrada com sucesso.</p>
    </div>
    <div class="text-center">
    <a href="{% url 'cadastrar_demanda' %}" class="btn btn-primary">Cadastrar Nova Demanda</a>

    <form action="{% url 'logout' %}" method="post" style="display: inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-secondary">Sair</button>
    </form>
    </div>
{% endblock %}